<header>
    <a class="logo" [routerLink]="['/']">
        <img src="https://previews.123rf.com/images/madbit/madbit1207/madbit120700003/14508428-Flower-composed-of-colored-gemstones-on-white-background-High-resolution-3D-image-Stock-Photo.jpg" class="logo" [routerLink]="['/']">
        <h1>The Gems Store</h1>
    </a>
</header>

<nav class="navbar navbar-default">
    <div class="container-fluid">


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/edelstenen']">Edelstenen</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/edelsteen-voeg-toe']">Edelsteen toevoegen</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/edelstenen-uitverkocht']">Uitverkocht</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" rbDropdown>
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Other</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>